@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cormorant: 'CormorantSC', serif;
  --font-cabinsketch: 'CabinSketch', serif;
  --font-calistoMT: 'CalistoMT', serif;
  --font-kallithea: 'Kallithea', serif;
}

body {
  font-family: var(--font-cormorant);
}